@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Roles Page";
}
<!DOCTYPE html>
<html lang="en">
<body background ='~/Image/espaceetud.png';>

<div class="text-center">
    <h2 class="display-4">ESPACE STUDENT</h2>
   
</div>
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <button class="btn btn-outline-success" type="button"> <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Students</a></button>
        <button class="btn btn-outline-success" type="button"> <a class="nav-link text-dark" asp-area="" asp-controller="Reclamation" asp-action="Create">Reclamation</a></button>
        <button class="btn btn-outline-success" type="button"> <a class="nav-link text-dark" asp-area="" asp-controller="Demande" asp-action="Index">Demande en ligne</a></button>
        <button class="btn btn-outline-success" type="button"> <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="Index">Stages et PFE</a></button>
        <button class="btn btn-outline-success" type="button"> <a class="nav-link text-dark" asp-area="" asp-controller="Download" asp-action="Index">ESPACE TÉLÉCHARGEMENT</a></button>
    </form>
</nav>

</body>
</html>