
@{
    ViewData["Title"] = "Manager Page";
}
<div class="text-center">
    <h2 class="display-4">ESPACE STUDENT</h2>

</div>
<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
        <button class="btn btn-outline-success" type="button"> <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Students</a></button>
         <button class="btn btn-outline-success" type="button"> <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Demande en ligne</a></button>
        <button class="btn btn-outline-success" type="button"> <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Stages et PFE</a></button>
     </form>
</nav>
