
@{
    ViewData["Title"] = "Club";
}

<h1>CLUBS & ASSOCIATIONS</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">البريد الاكتروني</th>
            <th scope="col">رقم الهاتف</th>
            <th scope="col">المسؤول</th>
            <th scope="col">النادي</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">clubelectriqueenis@gmail.com</th>
            <td>95228840</td>
            <td>حمزة بوغانمي</td>
            <td>Club électrique ENIS CEE</td>
            
        </tr>

        <tr>
            <th scope="row">clubtunivisions@gmail.com</th>
            <td>23714255</td>
            <td>ضياء جراي</td>
            <td>Tunivisions ENIS</td>
            
        </tr>
        <tr>
            <th scope="row">enis@ieee.tn</th>
            <td>55136938</td>
            <td>يسرى صدود</td>
            <td>IEEE</td>
            
        </tr>
    </tbody>
    
</table>
<button><a class="nav-link text-dark" asp-area="" asp-controller="Clubs" asp-action="Create">Add member</a></button>
<button><a class="nav-link text-dark" asp-area="" asp-controller="Clubs" asp-action="Index">Liste Membre </a></button>
