@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Welcome To Enis Dashbord</h1>
<br />
<br />

<center>
    <!-- The image has scrolling behavior to left -->
    <marquee behavior="scroll" direction="left">
        <img src="~/image/paternaires.jpg" alt="GeeksforGeeks logo" />
        <img src="~/image/enis1.jpg" />
        <img src="~/image/enis2.jpg" />
    </marquee>
</center>
<div class="container">
    <table>
        <tr><td colspan="5" align="center"><b>L’ENIS EN CHIFFRES</b></td></tr>
        <tr>
            <td width="25%"><img src="~/image/detailetudiant.png" /></td>
            <td width="20%"><img src="~/image/detaildoctorant.png" /></td>
            <td width="20%"><img src="~/image/detaildepartement.png" /></td>
            <td width="20%"><img src="~/image/detailuniversity.png" /></td>
            <td width="20%"><img src="~/image/detailentreprise.png" /></td>

        </tr>
        <tr>
            <td><b>1054</b></td>
            <td><b>+700</b></td>
            <td><b>7</b></td>
            <td><b>+60</b></td>
            <td><b>2500</b></td>
        </tr>
        <tr>
            <td><b>Elèves Ingénieurs</b></td>
            <td><b>Doctorants</b></td>
            <td><b>Départements d’ingénierie</b></td>
            <td><b>Universités partenaires</b></td>
            <td><b>Entreprises partenaires</b></td>
        </tr>
    </table>

</div>
